extends layout

block content
    div(id="food")
      .container
        .flex(v-show="!show")
          .box
            div
              div.form-group
                label(for="carbs") Carbs:
                input(name="carbs" v-model="carbs")
              div.form-group
                label(for="calories") Calories:
                input(name="calories" v-model="calories")
              div.form-group  
                label(for="protein") Protein:
                input(name="protein" v-model="protein")
              div.form-group  
                label(for="fat") Fat:
                input(name="fat" v-model="fat")
              button.button(v-on:click="chooseMe()") Click
        .flex(v-show="show")
          .box
            h2
              strong
                a(href="#", data-toggle='modal', data-target='#exampleModal') Your menu: {{ this.selected.length }} 
            p Carbs Remaining: {{ carbs.toFixed(0) }}, Calories Remaining: {{ calories.toFixed(0) }}, Protein Remaining: {{ protein.toFixed(0) }}, Fat Remaining: {{ fat.toFixed(0) }}
            br
            button.button(v-on:click="reset()") Reset
            table.table.table-hover.table-striped
              h2 Menu
              tr
                th Name
                th Carbs
                th Fat
                th Protein
                th Calories
                th Add
              tr(v-for="(x, index) in data")
                td {{ x.Name }}
                td {{ x.Carbs }}
                td {{ x.Fat }}
                td {{ x.Protein }}
                td {{ x.Calories}}
                td(id="icon" v-on:click="calculate(index, $event)", class="fas fa-plus")
      .modal(tabindex='-1', role='dialog', id="exampleModal")
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5.modal-title Your Selections
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              table.table.table-hover(v-show="showselected")
                tr
                  th Name
                  th Carbs
                  th Fat
                  th Protein
                  th Calories
                tr(v-for="(x, index) in selected")
                  td {{ x.name }}
                  td {{ x.carbs }}
                  td {{ x.fat }}
                  td {{ x.protein }}
                  td {{ x.calories}}
            .modal-footer
              button.btn.btn-primary(type='button') Save changes
              button.btn.btn-secondary(type='button', data-dismiss='modal', v-on:click="clearAll()") Clear

    




