extends layout

block content
    a(href="https://www.strava.com/oauth/authorize?client_id=17090&redirect_uri=http://localhost:3000/strava/data&response_type=code")
        button(name="Go to strava") Go to strava