body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, u {
    text-decoration: none!important;
}

i {
  cursor: pointer
}

i.fa-plus {
  color: green
}

i.fa-minus {
  color: red
}
